body{
  background-image: url("Shopping_List.png");
  background-repeat: no-repeat;
  position: center fixed;
  -webkit-background-size: cover;
  color: White;
}

.bg_block{
  padding: 15px;
  background-color: blue;
}

.mainTitle{
  margin: 15px;
  text-align: center;
}

.secondaryTitle{
  margin: 5px;
  text-align: center;
}

.poorimg{
  width: 500px;
  height: 500px;
}

.hungryimg{
  width: 500px;
  height: 500px;
}

p{
 font-size: 2.0em;
 color: white;
}
